---
layout: about
customHeader: true
---
<div class="ui stackable two column grid">

	<div class="ten wide column">
		<h1 class="ui header">
			Meet Goal
			<div class="ui sub header">Free and Open-Source Toolkit</div>
		</h1>
		<div class="ui two doubling cards">
			<div class="card">
				<div class="center aligned content">
					<span class="ui orange header">
						<i class="line chart icon"></i>
						High Productivity
					</span>
					<p>
						Goal is a set of utilities that let you develop apps in Go blazingly fast.
						Focus on things that matter, we'll take care of the rest.
					</p>
				</div>
			</div>
			<div class="card">
				<div class="center aligned content">
					<span class="ui orange header">
						<i class="dashboard icon"></i>
						High Performance
					</span>
					<p>
						Code generation and good default components
						(such as <a href="https://github.com/naoina/denco">denco router</a> based on double-array)
						make your web applications very fast.
					</p>
				</div>
			</div>
			<div class="card">
				<div class="center aligned content">
					<span class="ui orange header">
						<i class="flag icon"></i>
						Type Safety
					</span>
					<p>
						Catch errors when you are compiling your app not during runtime.
						The way Goal works will help you identify problems
						in code early.
					</p>
				</div>
			</div>
			<div class="card">
				<div class="center aligned content">
					<span class="ui orange header">
						<i class="settings icon"></i>
						100% Customizability
					</span>
					<p>
						It is possible to customize every single thing.
						Wanna bring your own router, template system, or any other component?
						That's easy.
					</p>
				</div>
			</div>
			<div class="sixteen wide card">
				<div class="center aligned content">
					<span class="ui orange header">
						<i class="puzzle icon"></i>
						Compatibility
					</span>
					<p>
						Instead of reinventing the wheel
						Goal relies on builtin <code>go generate</code> subcommand and
						is fully compatable with the standard library.
					</p>
				</div>
			</div>
			<div class="sixteen wide card">
				<div class="center aligned content">
					<span class="ui orange header">
						<i class="help circle icon"></i>
						Learn more
					</span>
					<p>
						For more info about Goal
						read...
					</p>
				</div>
				<a class="ui bottom attached large orange button" href="{{ site.baseurl }}{{ site.menu.manual.url }}">
					<i class="book icon"></i>
					{{ site.menu.manual.name }}
				</a>
			</div>
		</div>
	</div>

	<section class="six wide column">
		{{ content }}
	</section>

</div>
