<!DOCTYPE hmtl>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{ page.title }}</title>
		<link rel="stylesheet" href="styles/main.css">
		<link rel="stylesheet" href="styles/solarized-light.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.0.7/semantic.min.css">
	</head>

	<body class="ui grid container">
		<header class="sixteen wide centered column">
			<div class="ui vertically padded grid">
				<div class="ten wide column">
					<div class="ui basic segment">
						<h1><a href="/">Sunplate Toolkit</a></h1>
						<span class="meta">High productivity web development in Go language</span>

					</div>
					<div class="ui horizontal divider">
						Features
					</div>
					<div class="ui basic segment">
						{% include_relative _site/features.html %}
					</div>
				</div>
				<div class="six wide middle aligned column">
					<section class="ui inverted green segment">
						<div class="ui header">Getting started</div>
						{% include_relative _site/getstarted.html %}
					</section>
				</div>
			</div>
		</header>

		<article class="sixteen wide centered column">
			<div class="ui basic segment">
				{{ content }}
			</div>
		</article>

		<footer class="sixteen wide centered column">
			<div class="ui basic right aligned segment">
				BSD 2-clause "Simplified" License
			</div>
		</footer>
	</body>
</html>
