<!DOCTYPE html>
<html>
	<head>
		{% include head.html %}
	</head>

	<body>
		{% include header.html %}

		{% include menu.html %}

		<div class="ui relaxed grid container">
			<div class="five wide column">
				<nav class="ui inverted fluid pointing vertical menu">
					{% for item in site.manual %}
					<div class="{% if page.url == item.url or (page.category == item.category and page.category) %}active {% endif %}item">
							<a class="header" href="{{ site.baseurl }}{{ item.url }}">
								<i class="{{ item.icon }} icon"></i>
								{{ item.name }}
							</a>
							{% if item.pages %}
								<div class="item"><div class="menu">
									{% for sub in item.pages %}
									<a class="{% if page.url == sub.url %}active {% endif %}item" href="{{ site.baseurl }}{{ sub.url }}">
										<i class="{% if sub.icon %}{{ sub.icon }}{% else %}asterisk{% endif %} icon"></i>
											{{ sub.name }}
										</a>
									{% endfor %}
								</div></div>
							{% endif %}
						</div>
					{% endfor %}
				</nav>
			</div>
			<div class="eleven wide column">
				{% include content.html %}
			</div>
		</div>

		{% include forkme.html %}

		<script src="{{ site.baseurl }}/static/scripts/anchor.min.js"></script>
		<script>
			anchors.add("#content h1");
			anchors.add("#content h2");
			anchors.add("#content h3");
			anchors.add("#content h4");
		</script>
	</body>
</html>
